@import url("https://fonts.googleapis.com/css?family=Sniglet&display=swap");

body {
  margin: 0px;
  padding: 0px;
  font-family: Sniglet;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #2f3640;
  height: 50px;
  color: #ffffff;
}

nav a.brand {
  text-decoration: none;
  color: #ffffff;
  line-height: 50px;
  margin-left: 10px;
}

ul.menu {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  height: 50px;
}

ul.menu li {
  display: inline-block;
}

ul.menu li a {
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  width: 100px;
  margin: 5px 10px;
  line-height: 40px;
  text-align: center;
  height: 40px;
  /* novo teste */
  text-decoration: none;
}

ul.menu li .icon {
  display: none;
}

ul.menu li a:hover {
  background: #ffffff;
  color: #2f3640;
  border-radius: 20px;
}

ul.menu li a.selected {
  background: #ffffff;
  color: #353b48;
  border-radius: 20px;
}

div.list-section div.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

div.list-section div.header h2 {
  border-bottom: 2px solid;
}

/* main {
  height: calc(100vh - 120px);
} */

form {
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  font-size: 15px;
  margin: 20px;
  padding: 10px;
  box-sizing: border-box;
}

footer {
  height: 70px;
  background: #353b48;
  color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer a:hover {
  opacity: 0.6;
}

/* Medias mobile */

@media (max-width: 700px) {
  ul.menu li a.icon {
    display: block;
  }

  ul.menu li a {
    display: none;
  }
}

@media (max-width: 700px) {
  .menuresponsive li a {
    position: relative;
    color: #ffffff;
    text-decoration: none;
  }

  .menuresponsive li {
    list-style-type: none;
    position: relative;
    right: 0;
    top: 0;
  }
}
